Maximilian Linhoff <maximilian.linhoff@tu-dortmund.de> <maximilian.noethe@tu-dortmund.de>

Michele Peresano <michele.peresano@cea.fr> Michele Peresano <michele.peresano@.cea.fr>
Michele Peresano <michele.peresano@cea.fr> Michele Peresano <peresano.michele@gmail.com>

Thomas Vuillaume <thomas.vuillaume@lapp.in2p3.fr> vuillaut <thomas.vuillaume@gmail.com>
Thomas Vuillaume <thomas.vuillaume@lapp.in2p3.fr> Thomas Vuillaume <thomas.vuillaume@gmail.com>

Julian Sitarek <jsitarek@uni.lodz.pl> <33022433+jsitarek@users.noreply.github.com>

Rune Michael Dominik <rune.dominik@tu-dortmund.de> <rune.dominik@tu-dortmund.de>
Rune Michael Dominik <rune.dominik@tu-dortmund.de> <rune.dominik@udo.edu>
